{
    "extends": "airbnb-base",
    "globals": {
        "op": true,
        "gui": true,
        "navigator": true,
        "document": true,
        "$": true,
        "BroadcastChannel": true,
        "window": true,
        "Tone": true,
        "AudioContext": true,
        "CABLES": true,
        "XMLHttpRequest": true,
        "jQuery": true,
        "Raphael": true,
        "ace": true,
        "logStartup": true,
        "attachments": true
    },
    "env": {
        "browser": true
    },
    "rules": {
        "no-var": 0,
        "vars-on-top": 0,
        "no-bitwise": 0,
        "no-underscore-dangle": 0,
        "brace-style": [
            2,
            "allman",
            {
                "allowSingleLine": true
            }
        ],
        "func-names": 0,
        "max-len": [
            1,
            {
                "code": 300,
                "tabWidth": 4,
                "comments": 300,
                "ignoreComments": true
            }
        ],
        "no-param-reassign": 0,
        "consistent-return": 0,
        "eqeqeq": 0,
        "one-var": 0,
        "no-plusplus": 0,
        "indent": [2, 4],
        "quotes": [2, "double"],
        "no-use-before-define": 0,
        "no-multi-assign": 0,
        "no-extend-native": 0,
        "no-prototype-builtins": 0,
        "prefer-destructuring": 0,
        "no-restricted-syntax": 0,
        "object-curly-newline": 1,
        "implicit-arrow-linebreak": 0,
        "no-continue": 0,
        "guard-for-in": 1,
        "no-new": 0,
        "import/no-cycle": [2, { "maxDepth": 3 }],
        "prefer-template": 0,
        "prefer-rest-params": 0,
        "no-restricted-properties": 0,
        "import/prefer-default-export": 0
    }
}
